.info{
    float: right;
    border-radius: 43%;
    font-size: 26px;
    color: white;
    background-color: #0076a8;
}
.no-height{
    height: fit-content;
}
/*.container {
    margin-top: 5%;
}

.header {
    width: 100%;
    background-color: #041E42
}

.heading {
    background-color: #FFFFFF;
    padding: 8px 20px 8px 20px;
    display: inline-block;
    width: 100%;

    h1 {
        font-size: 18px;
        line-height: 20px;
        font-family: 'open_sans-bold';
        margin: 0 0 3px 0;
        color: #1C1C1C;
        float: left;
        width: 100%;
    }

    ul {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;

        li {
            float: left;
            margin: 0 8px 0 0;
            color: #000000;
            font-family: 'open_sans-regular';
            font-size: 10px;
            line-height: 14px;
            list-style: none;

            a {
                color: #005587;
                font-family: 'open_sans-regular';
                font-size: 10px;
                line-height: 14px;
                float: left;
                text-decoration: none;
                padding: 0 7px 0 0;
            }
        }
    }
}

.indust {
    height: 300px;
    overflow: auto;
    // padding: 9px;
    //width: 83%;
    //padding-top: 10px;
    box-shadow: none;
}*/

/* width */
/*.indust::-webkit-scrollbar {
    width: 3px;
}*/

/* Track */
/*.indust::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey;
    border-radius: 0px;
}*/

/* Handle */
/*.indust::-webkit-scrollbar-thumb {
    background: #041E42;
    border-radius: 0px;
}*/

/* Handle on hover */
/*.indust::-webkit-scrollbar-thumb:hover {
    background: #041E42;
}

.mat-card {
    box-shadow: 0px -1px 6px 1px rgb(204, 202, 202);
    border-radius: 0;
    margin-top: 3px;
    float: left;
    width: 100%;
    background: #FFFFFF;
}


.mat-chip {
    transition: none !important;
    box-shadow: none !important;
    border: 0px;
    border-radius: 0;
}

form {

    label {
        font-size: 14px;
        line-height: 19px;
        font-family: 'open_sans-regular';
        color: #707070;
        margin: 9px 0 10px 0;
    }

    input,
    textarea,
    select {
        border-radius: 0;
        box-shadow: inset 0px 2px 2px #00000029;
        border: 1px solid #CCCCCC;
        font-size: 14px;
        line-height: 19px;
        font-family: 'open_sans-regular';
        color: #000000;
        padding: 8px 8px;
    }

    button {
        border-radius: 0;
        border: 0;
        margin: 24px 0px 20px 15px !important;
        background-color: #0076A8;
        color: white;
        width: 100px;
        font-family: 'open_sans-regular';
        font-size: 13px;
        line-height: 18px;
        padding: 12px 0;
        min-height: 36px;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

        &:hover {
            box-shadow: inset 100px 0 0 0 #041E42;
            color: #fff !important;
        }
    }
}

.row {
    margin-top: 20px;
}

table td,
table th {
    padding: 0 20px;
}

.form-check-input {
    font-size: 25px;
    margin-top: -1px;
}

.but {
    padding: 0px;
    vertical-align: middle;
    // display: flex;
    float: left;
    width: 100%;
    margin-top: 2%;

    .upload-button {
        width: 31%;
        float: left;
        margin: 0 2.5% 0 0;

        &:last-child {
            margin: 0;
        }

        .button {
            background-color: #eee;
            text-align-last: center;
            height: 120px;
            width: 100%;
            border-style: dotted;
            border-width: 1px solid;
            color: #86BC25;
            margin: 5px 0px 0px 0px;
            padding: 15px;

            span {
                font-size: 20px;
                padding: 0 0 0 10px;
                vertical-align: middle;
            }
        }
    }
}

.scroll {
    max-height: 500px;
    overflow-y: scroll;
    // border: 1px #707070 solid;
}*/

/* width */
/*.scroll::-webkit-scrollbar {
    width: 3px;
}*/

/* Track */
/*.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey;
    border-radius: 0px;
}*/

/* Handle */
/*.scroll::-webkit-scrollbar-thumb {
    background: #041E42;
    border-radius: 0px;
}*/

/* Handle on hover */
/*.scroll::-webkit-scrollbar-thumb:hover {
    background: #041E42;
}

.scroll thead {
    position: sticky;
    top: 0;
}

.scroll td {
    // width: 33%;
    vertical-align: middle;
}


.header {
    width: 100%;
    background-color: #0076A8
}

.header h3 {
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    margin: 0;
}

.analy {
    margin-top: 15px;
}

.analy label {
    width: 30%;
}

.analy_btn {
    margin: auto;
    margin-right: 0;
    margin-top: 15px;
}

// .indust .header{}
.col-md-8 {
    position: relative;
}

.mat-expansion-panel-header {
    height: 40px;
    font-size: 14px;
    font-family: 'open_sans-medium';
    // background-color: #fff;
    border-radius: 0;
    //     border-style: ridge;
    //     border-width: 2px;
}

.mat-expansion-indicator {
    top: 7px;
}

.mat-expansion-panel {
    background-color: #fff;
}

.mat-expansion-panel:nth-child(odd) {
    background-color: #eee;
}

.list-group-item:nth-child(odd) {
    background: #eee;
}

.subheading {
    padding: 10px 20px;
    width: 100% !important;
    background-color: #fff;
    border: 1px #eee solid;
    margin: 0 10px;
    float: left;

    &:nth-child(even) {
        background-color: #eee;
    }

    input {
        float: left;
    }

    label {
        margin: 0 0 0 5px;
        vertical-align: top;
        line-height: 16px;
    }
}

.bord {
    border: 1px #707070 solid;
    padding: 0;
    width: 100%;
    float: left;

    .header {
        padding: 10px;
        float: left;
        width: 100%
    }

    .mat-accordion {
        float: left;
        width: 100%
    }
}

.form-control {
    // background-color: #eee;
    border-radius: 0;

    &:focus {
        background-color: #eee;
    }
}

.form-check-input:checked {
    background-color: #0076A8;
    border-color: #0076A8;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;

    th:nth-child(3) {
        width: 10%;
    }
}

.procTabbtn {    float: left;
    width: 100%;
    margin:0 0 -22px 0;
    padding: 0 0 0 20px;
    position: relative;
    z-index: 2;
    button {
        display: inline;
        border-radius: 0;
        background: #fff;
        color: #000000;
        font-size: 14px;
        line-height: 19px;
        font-family: 'open_sans-medium';
        text-align: center;
        padding: 14px 40px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 6px; margin: 0 5px 0 0;

        &.active {
            background: #005587 0% 0% no-repeat padding-box;
            box-shadow: inset 0px 3px 6px #00000029, 0px 3px 4px #00000029;
            border-radius: 6px;
            color: #fff
        }
    }
}

.button-add {
    border-radius: 0;
    border: 0;
    margin: 24px 0px 20px 15px !important;
    background-color: #0076A8;
    color: white;
    width: 100px;
    font-family: 'open_sans-regular';
    font-size: 13px;
    line-height: 18px;
    padding: 12px 0;
    min-height: 36px;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

    &:hover {
        box-shadow: inset 100px 0 0 0 #041E42;
        color: #fff !important;
    }
}

.mat-expansion-indicator {
    top: 10px !important;
}

.error {
    color: #D8000C;
    // position: absolute;
    bottom: -15px;
    right: 0;
    font-family: 'open_sans-regular';
    font-size: 12px;
    line-height: 15px;
}

.genericSpecificSol {
    label {
        float: left;
        width: 220px
    }

    input,
    select,
    textarea {
        float: left;
        width: calc(100% - 220px)
    }

    input[type="checkbox"] {
        width: auto
    }

    .col-md-12 {
        position: relative;
        float: left;
    }

    .col-md-4 {
        mat-chip {
            float: left;
            width: 100%;
            display: flow-root
        }

        .mat-card {
            width: 170px;
            margin: 25px 0 0 0;
        }

        .mat-card-div {
            float: left;
            width: 100%;
            padding: 10px 0 0 10px;

            label {
                float: left;
                width: auto;
                margin: 0 0 10px 6px
            }
        }
    }

    .row {
        float: left;
        width: 100%;

        .col-md-8 {
            position: relative;
            float: left;
            clear: both;

        }
    }
}

form input.is-invalid {
    border: 1px solid #f00;
    transition: 0.3 ease-in linear;
}

form textarea.is-invalid {
    border: 1px solid #f00;
    transition: 0.3 ease-in linear;
}

.bord.is-invalid {
    border: 1px #707070 solid;
    padding: 0;
    width: 100%;
    float: left;

    .header {
        padding: 10px;
        float: left;
        width: 100%
    }

    .mat-accordion {
        float: left;
        width: 100%
    }
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: black;
  pointer-events: none;
}
sup {
    // top: -0.5em;
    color: red;
}*/
.completed{
    background-color: aqua;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

tr.example-detail-row {
    height: 0;
}

.inner-table {
    width: 100%;
}

.inner-table mat-form-field {
    margin-top: 15px;
    width: 100%;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
.progress{
    margin-top: 40px;
}





// .dropdown {
//     position: relative;
//     display: inline-block;
//     cursor: pointer;
// }

// .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f9f9f9;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     padding: 12px 16px;
//     z-index: 1;
//     width: 250px;

//     .mat-expansion-panel-header {
//         height: 24px !important;
//         min-height: 24px !important;
//     }

//     .mat-expansion-indicator {
//         top: 0 !important;
//     }

//     .search {
//         width: 100%;
//         margin: 0 0 8px 0;

//         input {
//             box-shadow: none;
//         }
//     }

//     .mat-accordion div {
//         font-size: 12px;
//         margin-bottom: 8px;
//         width: 100%;
//         float: left;
//         word-break: break-all;
//     }
// }

// .dropdown:hover .dropdown-content {
//     display: block;
// }
