<!-- <p>dashboard works!</p> -->

<div class="heading">
    <h1>Dashboard</h1>
</div>
<div class="consen">
    <div class="row cards-group my-projects-cards">
        <!-- (click)="changetab(1)" -->
        <div class="col">
            <mat-card class="color1">
                <div class="cards">
                    <div class=" part1" >
                        <h3>Users</h3>
                        <p>32</p>
                    </div>
                    <div class="part2">
                        <span class="dds-icon dds-icon_users__l__stroke"></span>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="col">
            <!-- (click)="changetab(2)" -->
            <mat-card class="color2">
                <div class="cards">
                    <div class="part1">
                        <h3>Subscriptions</h3>
                        <p>04</p>
                    </div>
                    <div class="part2">
                        <span class="dds-icon dds-icon_archive__l__stroke"></span>
                    </div>
    
                </div>
            </mat-card>
        </div>

        <!-- (click)="changetab(3)" -->
        <div class="col">
            <mat-card class="color3">
                <div class="cards">
                    <div class="part1">
                        <h3>Client's Info</h3>
                        <p>30</p>
                    </div>
                    <div class="part2">
                        <span class="dds-icon dds-icon_users__l__stroke"></span>
                    </div>
                </div>
            </mat-card>
        </div>

        <!-- (click)="changetab(4)" -->
        <div class="col">
            <mat-card class="color4">
                <div class="cards">
                    <div class="part1">
                        <h3>Leads</h3>
                        <p>30</p>
                    </div>
                    <div class="part2">
                        <span class="dds-icon dds-icon_resize__l__stroke"></span>
                    </div>
    
                </div>
            </mat-card>
        </div>

        <div class="col">
            <mat-card class="color5">
                <div class="cards">
                    <div class="part1">
                        <h3>Projects</h3>
                    </div>
                    <div class="part2 labels">
                        <h6>User Projects <h5>05</h5></h6>
                        <h6>My Projects <h5>04</h5></h6>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
 <div class="row" *ngIf="tab">
        <div class="col-sm-6">
            <mat-card class="middle">

                <!-- <h3>Process Vs Runs</h3> -->
                <!-- <h6>Success</h6>
                <div class="colors" style="background-color: #02BC77;"></div>
                <h6>Failed</h6>
                <div class="colors" style="background-color: #4791FF;"></div> -->
                <div id="chart">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                        [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
                        [title]="chartOptions.title"></apx-chart>
                </div>

            </mat-card>
        </div>
        <div class="col-sm-6">
            <mat-card class="middle">
                <div id="chart">
                    <apx-chart [series]="chartOptions3.series" [title]="chartOptions3.title"
                        [chart]="chartOptions3.chart" [dataLabels]="chartOptions3.dataLabels"
                        [plotOptions]="chartOptions3.plotOptions" [yaxis]="chartOptions3.yaxis"
                        [xaxis]="chartOptions3.xaxis" [legend]="chartOptions3.legend" [colors]="chartOptions3.colors"
                        [grid]="chartOptions3.grid"></apx-chart>
                </div>
                <!-- <h3>Process Board</h3>
                <h6>Success</h6>
                <div class="colors" style="background-color: #02BC77;"></div>
                <h6>Failed</h6>
                <div class="colors" style="background-color: #4791FF;"></div> -->
            </mat-card>
        </div>
    </div>

    <div class="row" *ngIf="tab">
        <div class="col-sm-4">
            <mat-card class="middle">
                <div id="chart">
                    <!-- <h3>Predefined Vs Custom</h3> -->
                    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                        [dataLabels]="chartOptions2.dataLabels" [plotOptions]="chartOptions2.plotOptions"
                        [title]="chartOptions2.title" [colors]="chartOptions2.colors"></apx-chart>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="middle">
                <!-- <h3>Process Vs Sob'ns</h3> -->
                <div id="chart">
                    <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart" [fill]="chartOptions1.fill"
                        [grid]="chartOptions1.grid" [dataLabels]="chartOptions1.dataLabels"
                        [plotOptions]="chartOptions1.plotOptions" [xaxis]="chartOptions1.xaxis"
                        [yaxis]="chartOptions1.yaxis" [title]="chartOptions1.title"></apx-chart>
                </div>
                
            </mat-card>
        </div>
        <div class="col-sm-4">
            <mat-card class="middle">
                <div id="chart">
                    <!-- <h3>Process Vs Sob'ns</h3> -->
                    <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart"
                        [dataLabels]="chartOptions4.dataLabels" [xaxis]="chartOptions4.xaxis"
                        [yaxis]="chartOptions4.yaxis" [stroke]="chartOptions4.stroke" [title]="chartOptions4.title"
                        [colors]="chartOptions4.colors" [fill]="chartOptions4.fill"
                        [forecastDataPoints]="chartOptions4.forecastDataPoints" [legend]="chartOptions4.legend">
                    </apx-chart>
                </div>
            </mat-card>
        </div>
    </div>

    <!-- <div class="row" *ngIf="tab">
        <div class="col-sm-6">
            <mat-card class="middle">
                <h3>Subscriptions</h3>
            </mat-card>
        </div>
        <div class="col-sm-6">
            <mat-card class="middle">
                <h3>Users - Leads</h3>
                <h6>Success</h6>
                <div class="colors" style="background-color: #02BC77;"></div>
                <h6>Failed</h6>
                <div class="colors" style="background-color: #4791FF;"></div>
            </mat-card>
        </div>
    </div>

    <div class="row" *ngIf="tab">
        <div class="col-sm-4">
            <mat-card class="down">
                <h3>Latest Updates</h3>
            </mat-card>
        </div>
        <div class="col-sm-8">
            <mat-card class="down">
                <h3>Projects</h3>
            </mat-card>
        </div>
    </div> -->



    <!-- <div class="main" *ngIf="tab1">
        <div class="header">
            <h4>Users</h4>
        </div>
        <mat-card class="middle">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="padding-left: 20px;">User Name</th>
                            <th scope="col">User Type</th>
                            <th scope="col">User Role</th>
                            <th scope="col">Organization</th>
                            <th scope="col">Contact No.</th>
                            <th scope="col">Email-Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                            <td>9999999999</td>
                            <td>abc@gmail.com</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                            <td>9999999999</td>
                            <td>abc@gmail.com</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                            <td>9999999999</td>
                            <td>abc@gmail.com</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                            <td>9999999999</td>
                            <td>abc@gmail.com</td>
                        </tr>
                    </tbody>
                </table>
        </mat-card>
    </div>

    <div class="main" *ngIf="tab2">
        <div class="header">
            <h4>Subscriptions</h4>
        </div>
        <mat-card class="middle">
                <table class="table table-striped">
                    <thead>
                        <tr >
                            <th scope="col">Organization</th>
                            <th scope="col">Subscription Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Number of Runs</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>iBridge</td>
                            <td>Payroll</td>
                            <td>04-12-2020</td>
                            <td>04-12-2022</td>
                            <td style="padding-left:5%">5</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td>iBridge</td>
                            <td>Duplicate Invoice</td>
                            <td>04-12-2020</td>
                            <td>04-12-2022</td>
                            <td style="padding-left:5%">3</td>
                            <td>Expired</td>
                        </tr>
                        <tr>
                            <td>iBridge</td>
                            <td>Payscale</td>
                            <td>04-12-2020</td>
                            <td>04-12-2022</td>
                            <td style="padding-left:5%">4</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td>iBridge</td>
                            <td>Solution Board</td>
                            <td>04-12-2020</td>
                            <td>04-12-2022</td>
                            <td style="padding-left:5%">NA</td>
                            <td>Expired</td>
                        </tr>
                    </tbody>
                </table>
        </mat-card>
    </div>



    <div class="main" *ngIf="tab3">
        <div class="header">
            <h4>Client’s Info</h4>
        </div>
        <mat-card class="middle">
                <table class="table table-striped">
                    <thead>
                        <tr >
                            <th scope="col">Organization</th>
                            <th scope="col">No. of Subscription</th>
                            <th scope="col">No. of Users</th>
                            <th scope="col">Projects Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>iBridge</td>
                            <td>10</td>
                            <td>20</td>
                            <td>06</td>
                        </tr>
                        <tr>
                            <td>iBridge</td>
                            <td>10</td>
                            <td>20</td>
                            <td>06</td>
                        </tr>
                        <tr>
                            <td>iBridge</td>
                            <td>10</td>
                            <td>20</td>
                            <td>06</td>
                        </tr>
                        <tr>
                            <td>iBridge</td>
                            <td>10</td>
                            <td>20</td>
                            <td>06</td>
                        </tr>
                    </tbody>
                </table>
        </mat-card>
    </div>

    <div class="main" *ngIf="tab4">
        <div class="header">
            <h4>Leads</h4>
        </div>
        <mat-card class="middle">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Lead Type</th>
                            <th scope="col">Organization</th>
                            <th scope="col">Contact Name</th>
                            <th scope="col">Contact No.</th>
                            <th scope="col">Email ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3/1/21 21:40:25</td>
                            <td>Customized Solution</td>
                            <td>iBridge</td>
                            <td>My Name</td>
                            <td>9999999999</td>
                            <td>myname@gmail.com</td>
                        </tr>
                        <tr>
                            <td>3/1/21 21:40:25</td>
                            <td>Customized Solution</td>
                            <td>iBridge</td>
                            <td>My Name</td>
                            <td>9999999999</td>
                            <td>myname@gmail.com</td>
                        </tr>
                        <tr>
                            <td>3/1/21 21:40:25</td>
                            <td>Customized Solution</td>
                            <td>iBridge</td>
                            <td>My Name</td>
                            <td>9999999999</td>
                            <td>myname@gmail.com</td>
                        </tr>
                        <tr>
                            <td>3/1/21 21:40:25</td>
                            <td>Customized Solution</td>
                            <td>iBridge</td>
                            <td>My Name</td>
                            <td>9999999999</td>
                            <td>myname@gmail.com</td>
                        </tr>
                        <tr>
                            <td>3/1/21 21:40:25</td>
                            <td>Customized Solution</td>
                            <td>iBridge</td>
                            <td>My Name</td>
                            <td>9999999999</td>
                            <td>myname@gmail.com</td>
                        </tr>
                        <tr>
                            <td>3/1/21 21:40:25</td>
                            <td>Customized Solution</td>
                            <td>iBridge</td>
                            <td>My Name</td>
                            <td>9999999999</td>
                            <td>myname@gmail.com</td>
                        </tr>
                    </tbody>
                </table>
        </mat-card>
    </div>


    <div class="main" *ngIf="tab5_1">
        <div class="header">
            <h4>User Projects</h4>
        </div>
        <mat-card class="middle">
                <table class="table table-striped">
                    <thead>
                        <tr >
                            <th scope="col" style="padding-left: 20px;">User Name</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Process Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                        </tr>
                    </tbody>
                </table>
        </mat-card>
    </div>

    <div class="main" *ngIf="tab5_2">
        <div class="header">
            <h4>My Projects</h4>
        </div>
        <mat-card class="middle">
                <table class="table table-striped">
                    <thead>
                        <tr >
                            <th scope="col" style="padding-left: 20px;">User Name</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Process Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                        </tr>
                        <tr>
                            <td style="padding-left: 20px;">Internal User</td>
                            <td>Name 1</td>
                            <td>Deloite</td>
                            <td>Manager</td>
                        </tr>
                    </tbody>
                </table>
        </mat-card>
    </div> -->




</div>