<div class="heading">
    <h1>Subscriptions</h1>
    <h5><span style="color: #0076A8">Dashboard / </span>Subscriptions</h5>
</div>
<div class="consen">
    <mat-card>
        <!-- <div class="top">
            <p style="float: left;">Total Request: <span>10</span></p>
            <button mat-button class="btn"
                style="background-color: #0076A8; color: white;float: right;width: auto;border-radius: 0;"
                (click)="edit($event)">New Service Request</button>
        </div> -->
        <div class="main">
            <table class="table table-striped">
                <thead>
                    <tr >
                        <th scope="col">Organization</th>
                        <th scope="col">Subscription Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Number of Runs</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>iBridge</td>
                        <td>Payroll</td>
                        <td>04-12-2020</td>
                        <td>04-12-2022</td>
                        <td style="padding-left:5%">5</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>iBridge</td>
                        <td>Duplicate Invoice</td>
                        <td>04-12-2020</td>
                        <td>04-12-2022</td>
                        <td style="padding-left:5%">3</td>
                        <td>Expired</td>
                    </tr>
                    <tr>
                        <td>iBridge</td>
                        <td>Payscale</td>
                        <td>04-12-2020</td>
                        <td>04-12-2022</td>
                        <td style="padding-left:5%">4</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>iBridge</td>
                        <td>Solution Board</td>
                        <td>04-12-2020</td>
                        <td>04-12-2022</td>
                        <td style="padding-left:5%">NA</td>
                        <td>Expired</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card>
</div>