/*.mat-card {
    box-shadow: 0px 0px 6px 1px #cccaca;
    border-radius: 0;
    float: left;
    width: 100%; background: #fff;
}

.mat-card h1 {
    font-size: 25px;
}
h5{font-size: 20px; font-family:"open_sans-medium"}
.main {
    padding: 25px 25px 25px 25px;
    margin-top: 60px;transition: all 0.3s ease;
}

.header {
    width: 100%;
    background: #97999B;
    float: left; margin:0 0 15px 0;

    h3 {
        padding: 8px 12px 8px 12px;
        color: #FFFFFF;
        font-family: 'open_sans-regular';
        font-size: 14px;
        line-height: 19px;
        float: left;
        width: 100%; margin-bottom: 0;
    }
}

form {

    label{
        font-size: 14px;
        line-height: 19px;
        font-family: 'open_sans-regular';color:#707070; margin:0 0 10px 0;
    }

    input,
    textarea {
        border-radius: 0;
        box-shadow: inset 0px 2px 2px #00000029;
        border: 1px solid #CCCCCC;
        font-size: 14px;
        line-height: 19px;
        font-family: 'open_sans-regular';
        color: #000000;
        padding: 8px 10px;
    }
    button {
        border-radius: 0;
        border: 0;
        margin: 24px 0px 20px 15px !important;
        background-color: #0076A8;
        color: white;
        width: 100px;
        font-family: 'open_sans-regular';
        font-size: 13px;
        line-height: 18px;
        padding: 12px 0; min-height: 36px;
    }
}


.row {
    margin-top: 20px;
}
table td, table th{padding: 0 20px;font-size: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;}
.input-group-addon {
    // padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    width: 12%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    padding-top: 12px;
}

.form-check-input {
    font-size: 25px;
    margin-top: -1px;
}

.form-check-input:checked {
    background-color: #0076A8;
    border-color: #0076A8;
}

sub {
    color: red;
}

// .error {
//     color: #D8000C;
// }
.error {
    color: #D8000C;
    // position: absolute;
    bottom: -19px;
    font-family: 'open_sans-regular';
    font-size: 12px;
    line-height: 15px;
}

.heading {
    background-color: #FFFFFF;
    padding: 8px 20px 8px 20px;
    display: inline-block;
    width: 100%;

    h1 {
        font-size: 18px;
        line-height: 20px;
        font-family: 'open_sans-bold';
        margin: 0 0 3px 0;
        color: #1C1C1C;
        float: left;
        width: 100%;
    }

    ul {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;

        li {
            float: left;
            margin: 0 8px 0 0;
            color: #000000;
            font-family: 'open_sans-regular';
            font-size: 10px;
            line-height: 14px;
            list-style: none;

            a {
                color: #005587;
                font-family: 'open_sans-regular';
                font-size: 10px;
                line-height: 14px;
                float: left;
                text-decoration: none;
                padding: 0 7px 0 0;
            }
        }
    }
}
sup {
    // top: -0.5em;
    color: #f00;
}
form input.is-invalid{border:1px solid #f00; transition: 0.3 ease-in linear;}
form textarea.is-invalid{border:1px solid #f00; transition: 0.3 ease-in linear;}*/