<!-- <p>view-download1 works!</p> -->
<div class="heading">
    <h1>Download & Upload Script</h1>
</div>
<div class="consen ">
    <div class=" pro">
        <div class="info row">
            <!-- <div class="row col dis"> -->
                <div class="col-md-4">
                    <h4>Project Name: {{projectname}}</h4>
                    <!-- <p>{{projectname}}</p> -->
                </div>
                <div class="col-md-4">
                    <h4>Process: {{processname}} </h4>
                    <!-- <p>{{processname}}</p> -->
                </div>
                <!-- <div></div>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-card class="middle" style="height: 550px;">
                <!-- <div class="cbtn" *ngIf="down"> -->
                    <!-- <div (click)="downloadTemplates()"><a >Download</a></div> -->
                    <!-- <div><a>Upload Custom Data</a></div> -->
                <!-- </div> -->
                <!-- <div class="ubtn" *ngIf="!down">
                    <div><a routerLink="/user/admin1/execute-process">Upload</a></div>
                    <label class="button">
                        <input type="file" style="display: none;" />
                        <span class="dds-icon dds-icon_upload__l__stroke"></span>
                        <br>
                        <h5>Upload Image</h5>
                        <div><a>Upload</a></div>
                        <img height="90%" *ngIf="imageUrl" [src]="imageUrl" class="image" />
                    </label>
                </div> -->
            <!-- </div> -->
            <!-- </div> -->
            <!-- <div class="seper">
          
            <mat-accordion class="accord" multi>
                <div>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <div class="expansion header ">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>
                                            Analytics Name
                                        </h4>
                                    </div>
                                    <div class="col">
                                        <h4>
                                            Analytics Objective
                                        </h4>
                                    </div> -->
                                    <!-- <div class="col"> Expand <span></span></div> -->
                                <!-- </div>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="content">
                            <ul>
                                <li>
                                    <div class="row" *ngFor="let item of anaytics">
                                        <div class="col-md-4">{{item.analyticsName}} -->

                                            <!-- Financial Book Closing Analysis -->
                                        <!-- </div>
                                        <div class="col">
                                            <p>{{item.analyticsObjective}}</p>
                                        </div> -->
                                        <!-- <div class="col"></div> -->
                                    <!-- </div>
                                </li>
                            </ul>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
            </div> -->
            <!-- <img [src]="demo" alt=""> -->
            <!-- <div></div> -->
            <div class="file minfile">
                <h5>Step:1 Download the files.</h5>
                <div class="file-head">
                    <h4>Scripts / Templates to be downloaded</h4>
                </div>
                <div class="file-main" *ngFor="let item of anayticfile">
                    <p>{{item.templateName}}</p>
                </div>
            </div>
            <div class="bton">
                <div class="cbtn" *ngIf="down">
                    <div (click)="downloadTemplates()"><a >Download</a></div>
                    <!-- <div><a>Upload Custom Data</a></div> -->
                </div>
            </div>
            </mat-card>
        </div>
        
            



        <div class="col">
            <mat-card class="middle" style="height: 550px;">
                <h5>Step:2 Upload the files.</h5>
                <div class="file-head">
                    <h4>Upload File</h4>
                </div>
                <!-- <h5 style="padding: 10px;">Upload File</h5> -->

                <div class="but" style="margin-top: 20px;">
                    <div>
                        <label for="inputfile" class="button">
                            <input type="file" id="inputfile" (change)="saveiputFiles($event)" style="display: none;" 
                                multiple />
                                <!-- disabled="downloadt == null" -->
                            <span class="dds-icon dds-icon_upload__l__stroke"></span>
                            <br>
                            <h5>Upload Files</h5>
                            <p style="font-size: 9px;color: #707070;">Note: Exclude .JS and .EXE files</p>
                        </label>
                        <p style="margin: 20px 64px;" *ngFor="let item of uploaddata?.fileList">
                            {{item}}
                        </p>
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="col">
            <mat-card class="middle" style="height: 550px;">
                <h5>Step:3 Execute or Schedule the Project.</h5>
                <div class="file-head">
                    <h4>Execute process</h4>
                </div>
                <!-- <h6>File Name:</h6> -->
                <div class="bton col">
                    <div class="cbtn">
                        <button style="width: auto;margin-left: 20px; color: #fff;"
                        type="submit" (click)="success($event)" >Execute Now</button>
                        <button style="width: auto;margin-left: 20px;color: #fff;" (click)="executelater()" [disabled]="uploaddata?.fileList == null">Schedule</button>
                         <!-- <div><a (click)="success($event)" [disabled]="hideschedule == true">Execute Now</a></div> -->
                    </div>
                    <!-- <div class="ubtn">
                        <div><a href="">Upload</a></div>
                    </div> -->
                </div>


                <!--[formGroup]="scheduleForm" (ngSubmit)="scheduleSubmit()"/ -->
            <form [formGroup]="scheduleForm" *ngIf="hideschedule">
                <div class="col">
                    <div class="row container no-gutters" style="padding: 20px 0 0 0;">
                        <div class="col subheading" [class.active]="subtab1" (click)="changesubtab(1)">
                            <p>Schedule Daily</p>
                        </div>
                        <div class="col subheading" [class.active]="subtab2" (click)="changesubtab(2)">
                            <p>Schedule Weekly</p>
                        </div>
                        <div class="col subheading" [class.active]="subtab3" (click)="changesubtab(3)">
                            <p>Schedule Monthly</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                        <div *ngIf="subtab1" style="padding-top: 20px;">
                          
                            <input class="date" type="date" formControlName="startdate1">&nbsp;
                            <input class="date" type="date" formControlName="enddate1">&nbsp;
                            <input class="date" type="time" step="3" formControlName="time1" style="width: 100px;">
                        </div>
                        <div *ngIf="subtab2" style="padding-top: 20px;">
                            <input class="date" type="date" formControlName="startdate">&nbsp;
                            <input class="date" type="date" formControlName="enddate">&nbsp;
                            <select name="days" id="days" style="width: 100px;height: 29px;" formControlName="day">
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                              </select>&nbsp;
                            <!-- <input class="date" type="text" style="width: 75px;">&nbsp; -->
                            <input class="date" type="time" style="width: 70px;" formControlName="time">
                        </div>
                        <div *ngIf="subtab3" style="padding-top: 20px;">
                            <input class="date" type="date" formControlName="startdate">&nbsp;
                            <input class="date" type="date" formControlName="enddate">&nbsp;
                            <select name="date" id="date" style="width: 75px;height: 29px;" formControlName="date">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                              </select>
                              &nbsp;
                            <!-- <input class="date" type="number" style="width: 75px;">&nbsp; -->
                            <input class="date" type="time" style="width: 70px;" formControlName="time">
                        </div>
                    <button style="background-color: #0076A8; float:left;width: auto; color:white;border-color:#0076A8;margin: 37% 3% 3% 0;"
                    type="submit" (click)="scheduler()">Save</button>
                </div>
            </form>



                <!-- <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Daily</mat-radio-button>
                    <mat-radio-button value="2">Weekly</mat-radio-button>
                    <mat-radio-button value="3">Monthly</mat-radio-button>
                </mat-radio-group> -->
                <!-- <div class="row" style="margin-top: 20px;">
                    <div class="col">
                        <input type="radio" id="daily" name="schedule" value="Daily">&nbsp;
                        <label for="html">Daily</label>
                    </div>
                    <div class="col">
                        <input type="radio" id="weekly" name="schedule" value="Weekly">&nbsp;
                        <label for="css">Weekly</label>
                    </div>
                    <div class="col">
                        <input type="radio" id="monthly" name="schedule" value="Monthly">&nbsp;
                        <label for="javascript">Monthly</label>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-4">
                        <input type="date">
                    </div>
                    <div class="col-md-4">
                        <input type="date">
                    </div>
                    <div class="col-md-4">
                        <input type="time"  style="width: 54%;">
                    </div>

                </div> -->

                <!-- <div class="but">
                    <div>
                        <label for="inputfile" class="button">
                            <input type="file" id="inputfile" (change)="saveiputFiles($event)" style="display: none;"
                                multiple />
                            <span class="dds-icon dds-icon_upload__l__stroke"></span>
                            <br>
                            <h5>Upload Files</h5>
                            <p style="font-size: 9px;color: #707070;">Note: Exclude .JS and .EXE files</p>
                        </label>
                    </div>
                </div> -->
            </mat-card>
        </div>
</div>

<div *ngIf="AddEventProceeding">
    <div class="taxt_audit-report">
        <div class="taxt-audit-popup">
            <div class="taxt-header" style="display: flex;background-color: #0076A8;">
                <h4 style="background-color: #0076A8; color: white; padding: 10px;margin-right: 405px;">Project 01</h4>
                <button type="button" style="background-color: #0076A8" class="close" aria-label="Close" (click)="closePopup()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="text-align: center;margin-top:20px">
                <h6 style="padding: 70px 20px 20px 20px;">Execution started you will be notified once the dashboard is
                    generated</h6>
            </div>
            <div class="col-sm-4" style="float: right; margin: 5% 22% 5% 0">
                <button mat-button
                    style="width: 40%; height:35px; background-color: #0076A8; color: white;border-radius: 0; "
                    routerLink="/user/admin1/project">Ok</button>
                <!-- &nbsp;
                &nbsp;
                <button mat-button style="width: 40%; height:35px;color: #0076A8; border-color: #0076A8;"
                    (click)="CloseModal()">Cancel</button> -->
            </div>
        </div>
    </div>
</div>
