.heading {
    background-color: #FFFFFF;
    color: #0076A8;
    font-weight: bold;
    height: 80px;
    padding: 20px;
}

.heading h1 {
    font-size: 24px;
    font-weight: 600;
}

.heading h5 {
    margin: -10px 0 50px 0;
    font-size: 15px;

}

.pro {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px 10px;
}

.bton {
    display: flex;
    /* margin-right: 0px !important; */
    margin: auto;
    /* float: right; */
    // position: relative;
    // left: 20%;
    // padding-left: 40%;
}

.bton .cbtn {
    display: flex;
    margin-left: auto;
}

.bton .ubtn {
    display: flex;
    margin-left: auto;
}

.bton a {
    background-color: #0076A8;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: auto 5px;
    cursor: pointer;
}

.dis {
    padding: 0px;
    margin: auto;
}

.mini {
    box-shadow: 0 2px 1px 0px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    margin: 20px;
    padding: 0;
}

.mini h4 {
    font-size: 20px;
    margin: 0;
    background-color: #041E42;
    color: #fff;
    padding: 10px 15px;
}

.mini p {
    padding: 10px 15px;
    margin: 0;
}

.minfile {
    height: 300px;
    overflow: auto;
}

.minfile thead {
    position: sticky;
    top: 0;
    font-size: 17px;
}

.minfile::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.minfile::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey;
    border-radius: 0px;
}

/* Handle */
.minfile::-webkit-scrollbar-thumb {
    background: #041E42;
    border-radius: 0px;
}

/* Handle on hover */
.minfile::-webkit-scrollbar-thumb:hover {
    background: #041E42;
}

.taxt-audit-popup {
    width: 550px;
}

.but {
    padding: 0px;
    display: block;
    width: 440px;
    // margin-top: 2%;
    // padding-left: 15%;
    margin: 0% auto 15% auto;
}

.but .button {
    background-color: #eee;
    text-align-last: center;
    height: 159px;
    width: 440px;
    border-style: dotted;
    border-width: 1px solid;
    color: #0076A8;
    /* margin: 5px 80px 0px 0px; */
    margin: auto;
    padding: 30px;
    /* vertical-align: middle; */
    /* align-content: center; */
    /* align-items: center; */
    /* align-self: center; */
    /* text-align: center; */
}

.but .button span {
    font-size: 20px;
    padding: 0 0 0 10px;
    vertical-align: middle;
}