<div class="heading">
    <h1>My Subscriptions</h1>
</div>
<div class="consen">
    <mat-card class="table-group">
        <div class="table-layer">
        <div class="table-conainer">
            <table class="table table-striped subscription-table">
                <thead>
                    <tr>
                        <th scope="col">Subscription Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Number of Runs</th>
                        <th scope="col">Status</th>
                        <!-- <th scope="col">Create Project</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="usersubs?.length == 0 || usersubs?.length == null">
                        <td colspan="6">No Data Found</td>
                      </tr>
                    <tr *ngFor="let item of usersubs">
                        <td>{{item.processName}}</td>
                        <td>{{item.startDate | date:"dd-MM-yyyy, hh:mm a"}}</td>
                        <td>{{item.endDate | date:"dd-MM-yyyy, hh:mm a"}}</td>
                        <td>{{item.runCount}}</td>
                        <td>{{item.status}}</td>
                        <!-- <td><span class="dds-icon dds-icon_plus__l__stroke" (click)="createProject(item)"></span></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <br/>
    <div class="table-layer">
        <div class="table-conainer">
            <table class="table table-striped subscription-table">
                <thead>
                    <tr>
                        <th scope="col">Workspace Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <!-- <th scope="col">Number of Runs</th> -->
                        <th scope="col">Status</th>
                        <!-- <th scope="col">Create Project</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="userworkspace?.length == 0 || userworkspace?.length == null">
                        <td colspan="6">No Data Found</td>
                      </tr>
                    <tr *ngFor="let item1 of userworkspace">
                        <td>{{item1.subscriptionType}}</td>
                        <td>{{item1.startDate | date:"dd-MM-yyyy, hh:mm a"}}</td>
                        <td>{{item1.endDate | date:"dd-MM-yyyy, hh:mm a"}}</td>
                        <td>{{item1.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        
    </mat-card>
</div>