<!-- <p>sign-in works!</p> -->
<div class="client-header">

  <div class="left_header">
    <img _ngcontent-jld-c34="" src="../../../assets/images/Group 7819.svg" alt="" routerLink="/auth/landing">
    <p>Risk Insights through Analytics (RIA)</p>
  </div>

</div>
<div class="signin_main" style="padding: 0px;">
  <div class="signin_left">
    <div class="signin_img">
      <img src="../../../assets/images/Mask Group 10.png">
    </div>
  </div>
  <div class="signin_right">
    <div class="signin_text">
      <h1>Hi, Welcome User !</h1>
      <h4 style="color: #999999 !important;">Risk Insights through Analytics (RIA)</h4>

      <div style="width: 80%;margin: auto;">

        <form [formGroup]="signinForm" (ngSubmit)="login()" class="form">

          <mat-form-field class="form-element" style="margin-bottom:20px;width: 50%;margin-left: 30%; display: inline-flex;">
            <!-- <mat-label>User Id</mat-label> -->
            <div>
              <h5>User ID</h5>
            </div>

            <input matInput formControlName="name" >
            <mat-error *ngIf="signinForm.get('name')!.errors?.required">
              Enter User ID
            </mat-error>
          </mat-form-field>



          <mat-form-field class="form-element" style="width: 50%;margin-left: 30%;">
            <!-- <mat-label>Password</mat-label> -->
            <div>
              <h5>Password</h5>
            </div>
            <input matInput  formControlName="password">

          </mat-form-field>
        <div style="margin-top: 40px;">
          <div class="left">
            <input type="checkbox" class="form-check-input">
            <label>Remember me</label>
          </div>

          <div class="form-element">
            <a style="color:#007CB0;">Forgot Password?</a>
            <br>
            <button mat-raised-button color="primary" type="submit" class="button">Log in</button>
            
          </div>
        </div>

        <!-- </form>
      </div> -->


      <!-- <form [formGroup]="signinForm" (ngSubmit)="login()">
        <div class="row">
          <div class="col-md-3 input">
            <label>User Name</label>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill"> -->
              <!-- <mat-label>User Id</mat-label> -->
              <!-- <input matInput type="text" formControlName="name" class="form-control" /> -->
              <!-- placeholder="johndoe.tcmuser56" /> -->
              <!-- <mat-error *ngIf="signinForm.get('name')!.errors?.required">User name required</mat-error> -->
              <!-- <mat-error *ngIf="!signinForm.controls['name'].valid && signinForm.controls['name'].touched">User name required</mat-error> -->

            <!-- </mat-form-field>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-md-3 input">
            <label>Password</label>
          </div>
          <div class="col-md-6">
            <input type="password" formControlName="password" class="form-control" placeholder="Password" />
          </div>
        </div>
        <br>
        <br>
        <div class="form-group"> -->
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          <!-- <a style="margin-left: 46%; color:#007CB0">Forgot Password</a>
        </div>
        <br>
        <br>
        <hr style="  color: #6d6a6a; margin: 0 10%;">
        <br>
        <br>
        <div class="left">
          <input type="checkbox" class="form-check-input">&nbsp;
          <label class="form-check-label">Remember me</label>
        </div>
        <div class="form-group">
          <div>
            <a mat-button type="submit" color="primary"
              style="background-color: #0076A8; color:#fff; border-radius:0;margin-left:10%">Log in</a>
          </div>
        </div> -->
        <div class="footer">
          <h4>© 2022 Deloitte Touche Tohmatsu India LLP.</h4>
          <h4 style="color: #007CB0;"> Terms of use | Privacy</h4>
        </div>
      </form>
    </div>
  </div>
</div>