// .mat-card{ 
//     box-shadow: 0px 0px 6px 1px #cccaca;
//     border-radius: 0;
//     margin: 0 18%;
// }
// .main{
//     margin-top: 55px;
//     padding: 25px 25px 25px 25px;transition: all 0.3s ease;
// }
// .header{
//     width: 100%;
//     height: 45px;
//     background-color: #0076A8
// }
// .nfom{
//     display: flex;
//     padding: 20px;
// }
// .inp{
//     margin: 0;
// }
// form label{
//     margin-bottom: 10px;
//     color: #707070;
//     font-size: 14px;
//     line-height: 19px;
//     font-family: 'open_sans-regular';
// }
// .header h3{
//     font-size: 18px; line-height: 24px;
//     color: white;
//     padding: 10px 15px; font-family: 'open_sans-regular';
// }
// textarea{
//     width: 70%;
// }
// .col-sm-3, .col-sm-6{
//     margin-top: 3%;
// }
// .col-sm-3 input{
//     border-radius: 0;
// }
// .input-group-addon {
//     // padding: 6px 12px;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 1;
//     color: #555;
//     text-align: center;
//     background-color: #f5f5f5;
//     border: 1px solid #ccc;
//     width: 12%;
//     white-space: nowrap;
//     vertical-align: middle;
//     display: table-cell;
//     padding-top: 12px;
// }
// form input, textarea{ 
//     border-radius: 0;
//     box-shadow: inset 0px 2px 2px #00000029;
// border: 1px solid #CCCCCC;
//     font-size: 14px;
//     line-height: 19px;
//     font-family: 'open_sans-regular';color: #000000;
//     padding: 8px 10px;

// }
// form input,form span{
//     margin-bottom: 10px;
// }
// .mat-button{
//     margin: 20px 10px 20px 0;
//     border-radius: 0;
//     border: 1px solid #0076A8;
//     display: inline;
//     width: 100px;
//     background: #0076A8;transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
//     &:hover{box-shadow: inset 6.5em 0 0 0 #041E42; color:#fff !important; border:1px solid #041E42}
// }
// .column{
//     padding-bottom: 12px;
// }
// .btn4{text-align: right;}
// .error {
//     color: #D8000C;
//     // position: absolute;
//     bottom: -19px;
//     font-family: 'open_sans-regular';
//     font-size: 12px;
//     line-height: 15px;
// }
// sup {
//     // top: -0.5em;
//     color: red;
// }
// form input.is-invalid{border:1px solid #f00; transition: 0.3 ease-in linear;}
// form textarea.is-invalid{border:1px solid #f00; transition: 0.3 ease-in linear;}