.heading {
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
    height: 80px;
    padding: 20px;
}
.heading h1{
    font-size: 25px;
    font-weight: 600;
}
.heading h5{
    font-size: 15px;
}