<!-- <p>internal-user works!</p> -->
<div class="container">
    <h1>Note: Currently you do not have access!</h1>
    <form>
        <label>Enter reason to access and select below solutions</label>
        <br>
        <br>
        <textarea style="width:100%;height: 100px"></textarea>
    </form>
    <mat-card>
        <div class="header">
            <h3>Select Solution(S)</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Payroll</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Business Intel-Cash Flow & P&L</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Continuous Control Monitoring (CCM)</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Business Intel - Sales</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Change Analysis Inventory & Purchases</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Access Control Monitoring Solution</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Change Analysis - F1</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Financial Reporting & Book Closing
                    Insight</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Employee Claim Analysis - Travel &
                    Expense</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Business Intel- Inventory</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox" class="form-check-input">&nbsp;
                <label class="form-check-label" for="exampleCheck1">Change Analysis - Vendor Master</label>
            </div>
            <div class="col-sm-4">
                <button mat-button style="float: right;width: 40%; margin-top: 10%;">Submit</button>
            </div>
        </div>
    </mat-card>
</div>