//@import "@angular/material/prebuilt-themes/indigo-pink.css"; 

.mat-card {
    height: 33rem;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 0;
    box-shadow: 0px -1px 6px 1px rgb(204, 202, 202);
}

.example-card {
    max-width: 700px;
    height: 7rem;
    margin: 15px;
}

.container {
    margin-top: 5%;
}

.heading {
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
    height: 80px;
    padding: 20px;
}

.heading h1 {
    font-size: 25px;
    font-weight: 600;
}

h5 {
    font-size: 15px;
}

// .btn{
//     border-radius: 0;
//     margin-bottom: 10px;
//     background-color: #0076A8;
//     color: white;
//     width: 15%;
// }
.cards {
    display: flex;
}

.part1 {
    width: 70%;
    height: 58px;
    padding: 10px 10px 10px 13px;
}

.part2 {
    width: 30%;
    height: 96px;
    padding: 35px 10px 10px 20px;
}

//  h2{
//    // color: #0076A8;
//  }
h3 {
    // border-left-style: solid; 
    border-width: 7px;
    margin: 0 -13px 16px;
    padding-left: 10px;
    font-size: 16px;
}

//  .part2 span{
//     height: 30px; font-size: xx-large; color: white;
//  }
//  table td span{
//     height: 30px; font-size: 30px; color: black;
//  }
form {
    padding: 35px;
}

.row {
    padding-bottom: 20px;
}

.row input {
    border-radius: 0;
}

//  .input-group-addon {
//     // padding: 6px 12px;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 1;
//     color: #555;
//     text-align: center;
//     background-color: #eee;
//     border: 1px solid #ccc;
//     width: 12%;
//     white-space: nowrap;
//     vertical-align: middle;
//     display: table-cell;
//     padding-top: 12px;
// }
// .taxt-audit-popup button{
//     border: 1px solid #ccc
// }
.scroll {
    max-height: 435px;
    overflow-y: scroll;
}

/* width */
.scroll::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey;
    border-radius: 0px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #041E42;
    border-radius: 0px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #041E42;
}