.displ {
  display: none;
}
.enab {
  background: #007cb0;
  color: #fff;
}
.disab {
  background: #a5a7a8;
  color: #3d3c3c;
}
// .report-container{
//     height: 700px !important;
// }
// // iframe{
// //     height: 700px !important;
// // }
// // #embedEdit iframe{height: 700px !important;}

// .btn{
//     width: 150px;
//     background-color: #0076A8;
//     color:#fff;
//     border:1px solid #0076A8;
//     border-radius: 0;
// }

// .report-modal-close{
//     float: right;
//     position: relative;
//     top: 0px;
//     cursor: pointer;
// }

// // .taxt-audit-popup {
// //     background: #fff;
// //     width: 84%;
// //     /* padding: 30px 30px 40px 30px; */
// //     position: absolute;
// //     top: 50%;
// //     left: 54%;
// //     transform: translate(-50%, -50%);
// //     height: 80%;
// // }

// // powerbi-report iframe{
// //     min-height: 700px !important;
// // }

// // ::ng-deep .report-container{
// //     height: 700px !important;
// // }
